@using Microsoft.AspNetCore.Identity;
@using Medicine_Store.DAL.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medicine Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Medicine_Store.styles.css" asp-append-version="true"/>
    <header>
        <div class="container header-container">
            <nav class="navbar navbar-expand-lg">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#!">Medicine Store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" asp-page="/Index">Home</a></li>
                            <li class="nav-item dropdown">
                                <div class="dropdown-toggle nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục</div>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-page="/Index">Dược phẩm</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" asp-page="/Index">Bán chạy</a></li>
                                    <li><a class="dropdown-item" asp-page="/Index">Mới</a></li>
                                </ul>
                            </li>
                            @if(SignInManager.IsSignedIn(User) && Boolean.Parse(User.Claims.FirstOrDefault(x => x.Type == "Admin").Value))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" asp-page="">Store Manager</a>
                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</head>
<body class="main-body">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Medicine_Store - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>