@page
@model Medicine_Store.Areas.Identity.Pages.Account.Manage.DonHangModel
@{
    ViewData["Title"] = "Đơn Hàng";
    ViewData["ActivePage"] = ManageNavPages.DonHang;
}
@using Microsoft.AspNetCore.Identity;
@using Medicine_Store.DAL.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">Mã Đơn Hàng</th>
					<th scope="col">Ngày Thanh Toán</th>
					<th scope="col">Mã Thanh Toán</th>
					<th scope="col">Trạng Thái Thanh Toán</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var don_hang in Model.service.GetAllDonHang(UserManager.GetUserId(User)))
				{
					bool da_thanh_toan = don_hang.da_thanh_toan;
					<tr class="table-row">
						<td class="ma_don_hang">@don_hang.ma_don_hang</td>
						<td class="ngay_thanh_toan">@don_hang.PaymentDate.ToString()</td>
						<td class="ma_thanh_toan">@don_hang.PaymentID</td>
						@if (da_thanh_toan)
						{
							<td class="trang_thai bg-success">Đã thanh toán</td>
						}
						else
						{
							<td class="trang_thai bg-warning">Chưa thanh toán</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}