html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.card-img-top{
    width:100%;
    height:20vh;
    object-fit:cover;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.header-container{
    background-color:lawngreen;
}

.main-body{
    background-color:lightskyblue;
}

html {
  position: relative;
  min-height: 100%;
}

header{
    margin-bottom:5px;
}

body {
  margin-bottom: 60px;
}

label {
    display: block;
    float: left;
    text-align: left;
}

.mtt{
    display: inline-block;
    max-width: 10rem;
}