@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Medicine Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Index">Thông Tin</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-page="/Index">Dược phẩm</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" asp-page="/Index">Bán chạy</a></li>
                                <li><a class="dropdown-item" asp-page="/Index">Mới</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div id="UserSection">
                        <!--<form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>--> <!--Cart button-->
                        <button class="btn btn-outline-dark"> Login </button>
                        <button class="btn btn-outline-dark"> Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container searchbar">
    <form class="form-horizontal" role="form" method="post">
        <div class="form-group row">
            <label class="form-label col-sm-1 fs-4 text-center" asp-for="MedSearch">SEARCH</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="MedSearch" placeholder="Tìm dược phẩm"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="SearchOptions" value="tenThuoc" />
                    <label class="form-check-label" for="SearchOptions">Tên thuốc</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="SearchOptions" value="tenHopChat" />
                    <label class="form-check-label" for="SearchOptions">Tên hợp chất</label>
                </div>
            </div>
        </div>
    </form>
</div>
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col-mb-5">
                <div class="card mx-auto h-100">
                    <img src="images/paracetamol.jpg" class="card-img-top"/>
                    <div class="card-body p-4">
                        <div class="text-center" id="MedName">
                            <div id="MedName"><h4>Paracetamol</h4></div>
                            <div id="MedPrice">15.000đ</div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm</a></div>
                    </div>
                </div>
            </div>
            <div class="col-mb-5">
                <div class="card mx-auto h-100">
                    <img src="images/paracetamol.jpg" class="card-img-top" />
                    <div class="card-body p-4">
                        <div class="text-center" id="MedName">
                            <div id="MedName"><h4>Paracetamol</h4></div>
                            <div id="MedPrice">15.000đ</div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Thêm</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

