@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container searchbar">
    <form class="form-horizontal" role="form" method="post">
        <div class="form-group row">
            <label class="form-label col-sm-1 fs-4 text-center" asp-for="MedSearch">SEARCH</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="MedSearch" placeholder="Tìm dược phẩm"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="SearchOptions" value="tenThuoc" />
                    <label class="form-check-label" for="SearchOptions">Tên thuốc</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="SearchOptions" value="tenHopChat" />
                    <label class="form-check-label" for="SearchOptions">Tên hợp chất</label>
                </div>
            </div>
        </div>
    </form>
</div>
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var Thuoc in Model._service_thuoc.GetAllThuoc())
            {
                <div class="col-mb-5">
                    <div class="card mx-auto mb-4">
                        @{string ImageUrl = Model._service_thuoc.GetThuocImage(Thuoc).Result;}
                        <img src=@((ImageUrl!="" && ImageUrl != "https://drugbank.vn/api/public/gridfs/")?ImageUrl:"images/placeholder.jpg") class="card-img-top" alt="hinh_thuoc"/>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="h5" id="MedName">@Thuoc.ten</div>
                                <div id="MedPrice">@($"{Thuoc.don_gia:n0}") &#8363;</div>
                                <div id="MedID" style="display:none">@Thuoc.thuoc_id</div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" onclick="OnClick_Them()">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/js/home.js" type="text/javascript"></script>

