@page
@model Medicine_Store.Pages.ThuocModel
@{
	ViewData["Title"] = "Chi tiết Thuốc";
}
@using Microsoft.AspNetCore.Identity;
@using Medicine_Store.DAL.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@{
	bool signedIn = SignInManager.IsSignedIn(User);
}

<div class="row justify-content-center my-3">
	<div class="col-md-6">
		@{
			string ImageUrl = Model.imageURL;
		}
		<img class="img-thumbnail" src=@((ImageUrl!="" && ImageUrl != "https://drugbank.vn/api/public/gridfs/")?ImageUrl:"images/placeholder.jpg") />
	</div>
	<div class="col-md-6 bg-light">
		<div class="row">
			<div class="col-md-4 m-3">
				<span><b>Tên Thuốc</b></span>
			</div>
			<div class="col-md-8 m-3">
				<span id="thuoc_name">@Model.Thuoc.ten</span>
			</div>
			<div class="col-md-4 m-3">
				<span><b>Số đăng ký/Mã thuốc</b></span>
			</div>
			<div class="col-md-8 m-3">
				<span id="thuoc_id">@Model.Thuoc.thuoc_id</span>
			</div>
			<div class="col-md-4 m-3">
				<span><b>Hoạt chất</b></span>
			</div>
			<div class="col-md-8 m-3">
				<span>@Model.Thuoc.hoat_chat</span>
			</div>
		</div>
		@if(Model.Thuoc.so_luong_ton > 0)
		{
			<div class="row">
				<div class="col-md-1"></div>
				<button class="btn-primary btn col-md-1" onclick="OnClick_Minus()">-</button>
				<div class="col-md-1 px-3 text-center" id="amount">1</div>
				<button class="btn-primary btn col-md-1" onclick="OnClick_Plus()">+</button>
				<a class="btn-primary btn col-md-3 mx-5" onclick="OnClick_Them()" @(!signedIn ? "href=Identity/Account/Register":"" )>Thêm vào giỏ hàng</a>
			</div>
		}
		else
		{
			<div class="row">
				<div class="alert alert-danger">
					HẾT HÀNG
				</div>
			</div>
		}
	</div>
	<script src="js/chitiet.js" type="text/javascript"></script>
</div>